<%= docHeader %>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body class="cover">
    <div class="cover" epub:type="cover">
        <img id="image_cover" src="cover.<%= coverExtension %>" alt="cover image"></img>
    </div>
</body>
</html>